<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section class="view page-center">
  <div class="auth-box">
    <h2>Register</h2>

    <form method="POST" action="/register">
      <label>Email</label>
      <input type="email" name="email" required>

      <label>Username</label>
      <input type="text" name="user_name" required>

      <label>Password</label>
      <input type="password" name="password" required>

      <button type="submit">Register</button>
    </form>

    <p class="message">{{ message }}</p>

    <p class="hint">Already have an account? <a href="/login">Login</a></p>
  </div>
</section>

</body>
</html>